<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <% matches.forEach(match => { %>
      <tr>
        <% const { local, localGoals, visitor, visitorGoals } = match; %>
        <th><%= local %></th>
        <th><%= localGoals %></th>
        <th><%= visitorGoals %></th>
        <th><%= visitor %></th>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
